.recipeDetails {
    background-color:rgb(88, 175, 179);
    width: fit-content;
    padding: 12px;
   
    
}

.sectionName {
    color:whitesmoke;
    font-size:larger;
    text-align:center;
}

.sectionBox {
    background-color:white;
    width: fit-content;
    padding: 8px;
}

